<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../wwwroot/css/global.css" />
    <link rel="stylesheet" href="../../wwwroot/css/portal-geo.css" />
    <title>PortalGeo - Home</title>
  </head>

  <body>
    <div class="body-content">
      <a id="home" name="home"></a>
      <!--                                                         Header                                                   -->
      <header>
        <div id="linear-gradient">
          <div class="header-navigation">
            <div class="logo-portal-geo">
              <img src="../../wwwroot/img/PortalGeo/logoPortalGeo.png" alt="PortalGeo" />
            </div>

            <div class="header-menu">
              <div class="menu-icon toggle-menu">≡</div>

              <nav class="mobile-hidden">
                <ul>
                  <li class="nav-item"><a href="#home">Home</a></li>
                  <li class="nav-item"><a href="#conceito">Conceito</a></li>
                  <li class="nav-item"><a href="#beneficios">Benefícios</a></li>
                  <li class="nav-item"><a href="#contato">Contato</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <section class="header-content text-black-shadow-mobile">
            <div class="text-card">
              <h2 class="title">Software de Georreferenciamento</h2>
              <p class="description">Democratize o acesso às informações municipais e disponibilize dados geográficos e tabulares para a população.</p>
              <button class="btn btn-default-header">
                Baixe a nossa apresentação
                <img src="../../wwwroot/img/PortalGeo/Arrow 4.png" />
              </button>
            </div>
          </section>
        </div>
      </header>

      <section class="sessao sessao-ferramenta">
        <a id="conceito" name="conceito"></a>

        <div class="content-ferramenta">
          <div class="border-style"></div>
          <h2 class="title">Ferramenta poderosa que publica informações geográficas georreferenciadas.</h2>
          <p class="description">Conhecer a realidade do município é fundamental para a realização de um planejamento urbanístico adequado e eficiente. Neste processo, é preciso reunir informações das necessidades de cada região da cidade, definir prioridades de atendimento e programar melhores investimentos.</p>
        </div>
      </section>

      <div class="mobile-separator">
        <img src="../../wwwroot/img/PortalGeo/banco de dados.png" />
      </div>
      <!--                                                         Sessao Formatos                                          -->

      <section class="sessao metade-margin-direita sessao-formatos">
        <div class="flex-section">
          <div class="content-banner negativar-margin-esquerda">
            <img src="../../wwwroot/img/PortalGeo/section-01.png" alt="Formatos" />
          </div>
          <div class="text-content-mobile">
            <div class="border-style"></div>
            <h2 class="title">A plataforma acessa diversos formatos e banco de dados geográficos</h2>
            <p class="description" id="desc">A prefeitura pode publicar de maneira rápida e intuitiva todos os dados espaciais do município, criando e organizando múltiplos grupos e painéis com diversas funcionalidades. E o melhor: tudo é disponibilizado para download!</p>
          </div>
          <div class="cards-top-wrapper">
            <div class="card-item">
              <div class="card-item-wrapper">
                <p>Criação e Edição de Painéis</p>
                <p>Divida grupos em painéis de visualização.</p>
                <div class="border-style border-inside-card"></div>
              </div>
            </div>

            <div class="card-item">
              <div class="card-item-wrapper">
                <p>Criação e Edição de RSS</p>
                <p>Adicione links direcionados às notícias da prefeitura.</p>
                <div class="border-style border-inside-card"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="content-presentation">
          <div class="flex-section">
            <div class="text-content-desktop">
              <div class="border-style"></div>
              <h2 class="title">A plataforma acessa diversos formatos e banco de dados geográficos</h2>
              <p class="description">Possibilitando a prefeitura publicar de forma fácil e intuitiva todos os dados espaciais do município, criando e organizando diversos grupos e painéis, com as mais diversas funcionalidades. Também é possível disponibilizar notícias e links para download.</p>
            </div>

            <div class="cards-bottom-wrapper">
              <div class="card-item">
                <div class="card-item-wrapper">
                  <p>Criação e Edição de Grupos</p>
                  <p>Divida informações da cidade de acordo com dados em comum.</p>
                  <div class="border-style border-inside-card-bottom"></div>
                </div>
              </div>

              <div class="card-item" id="card-4">
                <div class="card-item-wrapper">
                  <p>Criação e Edição de Usuários</p>
                  <p>Criação de novos usuários para administração e edição, de acordo com a demanda.</p>
                  <div class="border-style border-inside-card-bottom"></div>
                </div>
              </div>

              <div class="card-item" id="card-5">
                <div class="card-item-wrapper">
                  <p>Criação de Links para download</p>
                  <p>Adicione links para download de arquivos compartilhados pela prefeitura.</p>
                  <div class="border-style border-inside-card-bottom"></div>
                </div>
              </div>
            </div>
          </div>

          <!--  Cards Mobile   -->
          <div class="cards-mobile-wrapper">
            <div class="cards-mobile">
              <div class="card-item">
                <div class="card-item-wrapper">
                  <p>Criação e Edição de Painéis</p>
                  <p>Divida grupos em painéis de visualização.</p>
                  <div class="border-style border-inside-card"></div>
                </div>
              </div>

              <div class="card-item">
                <div class="card-item-wrapper">
                  <p>Criação e Edição de RSS</p>
                  <p>Adicione links direcionados às notícias da prefeitura.</p>
                  <div class="border-style border-inside-card"></div>
                </div>
              </div>

              <div class="card-item">
                <div class="card-item-wrapper">
                  <p>Criação e Edição de Grupos</p>
                  <p>Divida informações da cidade de acordo com dados em comum.</p>
                  <div class="border-style border-inside-card"></div>
                </div>
              </div>

              <div class="card-item">
                <div class="card-item-wrapper">
                  <p>Criação e Edição de Usuários</p>
                  <p>Criação de novos usuários para administração e edição, de acordo com a demanda.</p>
                  <div class="border-style border-inside-card-bottom"></div>
                </div>
              </div>

              <div class="card-item" id="card-5">
                <div class="card-item-wrapper">
                  <p>Criação de Links para download</p>
                  <p>Adicione links para download de arquivos compartilhados pela prefeitura.</p>
                  <div class="border-style border-inside-card-bottom"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="mobile-separator mobile-separator-2">
        <img src="../../wwwroot/img/PortalGeo/Data-View-Details-icon.png" />
      </div>

      <!--                                                Section Visao de dados          -->
      <section class="sessao sessao-visao-de-dados">
        <div class="banner-content negativar-margin-esquerda">
          <img src="../../wwwroot/img/PortalGeo/section-02.png" alt="Formatos" class="fundo-azul" />
          <img src="../../wwwroot/img/PortalGeo/section-03.jpeg" alt="Formatos" class="fundo-container" />
        </div>

        <div class="sessao-visao-de-dados-content">
          <div class="border-style"></div>
          <h2 class="title">Visão de dados de forma dinâmica em tempo real</h2>

          <div class="flex-section">
            <div class="cards-bottom-wrapper" id="cards-visao-de-dados">
              <div class="card-item">
                <div class="card-item-wrapper">
                  <p>Criação e Edição de Grupos</p>
                  <p>Divida informações da cidade de acordo com dados em comum.</p>
                  <div class="border-style border-inside-card-bottom"></div>
                </div>
              </div>

              <div class="card-item">
                <div class="card-item-wrapper">
                  <p>Criação e Edição de Usuários</p>
                  <p>Criação de novos usuários para administração e edição, de acordo com a demanda.</p>
                  <div class="border-style border-inside-card-bottom"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--                                             Plataforma dinamica                -->
      <section class="sessao sessao-coleta-de-dados">
        <div class="flex-content">
          <div class="content-column">
            <h3>Plataforma dinâmica <span>_______________</span></h3>
            <h2 class="title">Coleta de dados cadastrais de imóveis utilizando as tecnologias no estado da arte para dispositivos móveis</h2>
          </div>
          <div class="image-wrapper">
            <img src="../../wwwroot/img/PortalGeo/section-04.png" />
          </div>
        </div>

        <a id="beneficios" name="beneficios"></a>

        <div class="grid-container">
          <div class="grid-content" id="grid-content-1">
            <div class="grid-item">
              <div class="flex-content">
                <div class="grid-circle"></div>
                <h4>Criação e Edição de Grupos</h4>
              </div>

              <p>O administrador poderá dividir informações da cidade em grupos com dados em comum.</p>
            </div>
            <div class="grid-item">
              <div class="flex-content">
                <div class="grid-circle"></div>
                <h4>Criação e Edição de Painéis</h4>
              </div>
              <p>Divida grupos em painéis de visualização.</p>
            </div>
            <div class="grid-item">
              <div class="flex-content">
                <div class="grid-circle"></div>
                <h4>Criação e Edição de RSS</h4>
              </div>
              <p>Adicione links direcionados às notícias da prefeitura.</p>
            </div>
            <div class="grid-item">
              <div class="flex-content">
                <div class="grid-circle"></div>
                <h4>Criação e Edição de Usuários</h4>
              </div>
              <p>Criação de novos usuários para administração e edição, de acordo com a demanda.</p>
            </div>

            <div class="grid-item">
              <div class="flex-content">
                <div class="grid-circle"></div>
                <h4>Criação de Links para download</h4>
              </div>
              <p>Adicione links para download de arquivos compartilhados pela prefeitura.</p>
            </div>
          </div>
        </div>

        <!--                                             Plataforma dinamica    2            -->

        <div class="sessao flex-content" id="plataforma-dinamica-2">
          <div class="content-column">
            <h3>Plataforma dinâmica <span>_______________</span></h3>
            <h2 class="title">Visão de dados de forma dinâmica em tempo real</h2>
          </div>
          <div class="image-wrapper">
            <img src="../../wwwroot/img/PortalGeo/section-05.png" />
          </div>
        </div>

        <div class="grid-container" id="grid-container-2">
          <div class="grid-content" id="grid-content-2">
            <div class="grid-item">
              <div class="flex-content">
                <div class="grid-circle"></div>
                <h4>Visão Espacial das regiões</h4>
              </div>
              <p>Visão de mapas com imagens de satélite. O mapa possui ferramentas como: cálculo da distâcia/aréa, busca e visualiza de informações de uma inscrição imobiliária, impressão e ferramentas normais de mapa como zoom, arrastar e etc.</p>
            </div>
            <div class="grid-item" id="grid-item-last">
              <div class="flex-content">
                <div class="grid-circle"></div>
                <h4>Criação de mapas temáticos</h4>
              </div>

              <p>O administrador pode criar mapas temáticos, separados por parametros e índices, proporcionando uma melhor visão de dados para identificar anseios imediatos da população, direcionar investimentos e priorizar demandas.</p>
            </div>
          </div>
        </div>
      </section>
      <!--                                                   Contato                      -->
      <section class="content sessao-contato">
        <a id="contato" name="contato"></a>
        <div class="content-banner">
          <img src="../../wwwroot/img/Group 71.png" alt="Contato" class="img-contact" />
        </div>
        <div class="content-presentation content-margin-right-desktop content-margin-right-mobile content-margin-left-mobile">
          <div class="border-style"></div>
          <h2 class="title">CONTATO</h2>
          <p class="description">Caso tenha alguma dúvida, sugestão ou pergunta, nos ligue ou preencha o formulário de contato abaixo.</p>
          <form class="Contact" id="form-contato">
            <input type="text" id="contato-hp" name="hp" class="hp" />
            <p class="error-message" id="contato-hp-validation" class="hp"></p>
            <label for="Nome" class="mark">Nome</label>
            <input type="text" id="contato-nome" name="nome" placeholder="Digite seu nome" />
            <p class="error-message" id="contato-nome-validation"></p>
            <label for="Email" class="mark">Email</label>
            <input type="text" id="contato-email" name="email" placeholder="Digite seu e-mail" />
            <p class="error-message" id="contato-email-validation"></p>
            <label for="Tell" class="mark">Telefone</label>
            <input type="Tell" id="contato-telefone" name="telefone" class="telefone" placeholder="(35) 9 9999-9999" />
            <p class="error-message" id="contato-telefone-validation"></p>
            <label for="messenger" class="mark">Mensagem</label>
            <textarea rows="15" cols="55" maxlength="500" id="contato-mensagem" name="mensagem"></textarea>
            <p class="error-message" id="contato-mensagem-validation"></p>

            <div class="store">
              <img src="../../wwwroot/img/icon/image 16.jpg" alt="footerLogo" class="footer-logo" />
            </div>
            <br />
            <button class="btn btn-default">Enviar</button>
            <div class="notification-form">
              <span>Formulário enviado com sucesso !</span>
            </div>
          </form>
        </div>
      </section>
    </div>
    <!--                                                         Footer                                       -->

    <footer>
      <div class="horizontal-layout">
        <div class="sitemap">
          <img src="../../wwwroot/img/unidesk_logo.png" alt="Unidesk" class="logo" />
          <ul class="site-map">
            <li>Telegestão</li>
            <li>Inventario</li>
            <li>APP</li>
            <li>Cidadão</li>
            <li>Equipes</li>
            <li>Ferramentas</li>
            <li>Benefícios</li>
            <li>Campo</li>
            <li>Portifólio</li>
            <li>Contato</li>
          </ul>
        </div>
        <div>
          <h3 class="footer-title">
            <div class="border-style"></div>
            CADASTRE-SE NA NOVA NEWLESTTER
          </h3>
          <p class="footer-description">Receba as atualizações do site, brindes e notícias da Unidesk</p>
          <form id="form-newsletter">
            <input type="text" id="newsletter-hp" name="hp" class="hp" />
            <p class="error-message" id="newsletter-hp-validation" class="hp"></p>
            <label for="Nome" class="mark">Nome</label>
            <input type="text" id="newsletter-nome" name="nome" placeholder="Digite seu nome" />
            <p class="error-message" id="newsletter-nome-validation"></p>
            <label for="Nome" class="mark">Email</label>
            <input type="text" id="newsletter-email" name="email" placeholder="Digite seu e-mail" />
            <p class="error-message" id="newsletter-email-validation"></p>

            <button class="btn btn-default">Assinar</button>
            <div class="notification-form">
              <span>Formulário enviado com sucesso !</span>
            </div>
          </form>
        </div>
        <div>
          <h3 class="footer-title">
            <div class="border-style"></div>
            Unidesk nas redes sociais
          </h3>
          <ul class="social">
            <li>
              <img src="../../wwwroot/img/icon/linkedin.png" alt="" class="icon-likedin" />
            </li>
            <li>
              <img src="../../wwwroot/img/icon/facebook.png" alt="" class="icon-twiter" />
            </li>
            <li>
              <img src="../../wwwroot/img/icon/twitter.png" alt="" class="icon-facebook" />
            </li>
          </ul>
          <ul class="contact">
            <li>
              <p>
                <img src="../../wwwroot/img/icon/whatsapp.png" alt="Whatsapp" />
                (35) 9 9195-3362
              </p>
            </li>
            <li>
              <p>
                <img src="../../wwwroot/img/icon/email.png" alt="Whatsapp" />
                contato@unidesk.com.br
              </p>
            </li>
          </ul>
          <h3 class="footer-title">
            <div class="border-style"></div>
            Endereço
          </h3>
          <p class="footer-description">Rua José Dias Barroso, 191 Centro CEP 37130-053 Alfenas - MG Tell: (35)3297-3501</p>
        </div>
      </div>
      <p class="footer-end">Unidesk 2019 Direitos Reservados</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="../../wwwroot/js/index.js"></script>
  </body>
</html>
